body{
	background: #333;
}

@media screen and (max-width: 500px) { 
	p.temp_n, p.hum_n, p.hinder_n, .light_n {font-size: 1em !important;}
} 

/* 温湿度显示 */
.mes {
    width: 99%;
    height: 200px;
    position: absolute;
    top: 10%;
}
.temp, .hum, .hinder, .light {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    float: left;
    width: 20%;
    height: 80%;
    margin-left: 4%;
    background: linear-gradient(45deg, #36D1DC , #5B86E5);
    border-radius: 20px;
    box-shadow: 0px 5px 22px rgba(58, 203, 222, 0.18);
}

p.temp_c,p.hum_c,p.hinder_c, .light_c {
    width: 80%;
    height: 30px;
    padding-bottom: 3px;
    color: #FFF;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    border-bottom: 1px dashed #FFF;
}
p.temp_n, p.hum_n, p.hinder_n, .light_n {
    width: 80%;
    height: 100px;
    font-size: 3.5em;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
    text-shadow: 0px 3px 15px rgba(87, 141, 228, 0.66);
}

.warning {
	background: linear-gradient(45deg, #EB3349 , #F45C43) !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* 方向控制 */
.container {
    width: 400px;
    height: 400px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    position: absolute;
}
/* 上下 */
.up, .down {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 200px;
    height: 100px;
    margin-left: 100px;
    text-align: center;
    background: linear-gradient(45deg, #ffe259 , #ffa751);
    background-size: 150% 150%;
    color: #FFF;
    font-size: 26px;
    line-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(255, 193, 7, 0.20);
}
.up:hover,.down:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-position: -100px 0;
}
.up:active,.down:active {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-position: 0px -50px;
    box-shadow: 0px 5px 20px rgba(255, 205, 56, 0.43);
}

/* 左右 */
.right,.left {
    width: 100px;
    height: 200px;
    background: #EEE;
    font-size: 26px;
    color: #FFF;
    text-align: center;
    line-height: 200px;
    background: linear-gradient(45deg, #ffe259 , #ffa751);
    background-size: 150% 150%;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(255, 193, 7, 0.20);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.right:hover,.left:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-position: 0 -100px;
}
.right:active,.left:active{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-position: -50px 0px;
    box-shadow: 0px 5px 20px rgba(255, 205, 56, 0.43);
}

/* 停止 */
.stop {
    width: 160px;
    height: 160px;
    margin-left: 120px;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(45deg, #EB3349 , #F45C43);
    background-size: 150% 150%;
    color: #FFF;
    font-size: 26px;
    line-height: 160px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(255, 7, 7, 0.2);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.stop:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-position: -80px 0;
}
.stop:active{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    background-size: 100% 100%;
    background-position: 0 0;
    box-shadow: 0px 5px 20px rgba(255, 7, 7, 0.43);
}

.down {
    position: absolute;
    bottom: 0;
}
.right {float: right;}
.left{float: left;}